/*
* RESET RULES
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: var(--base-font-size);
  background-color: $primary;
  @include font();
}

button:focus {
  outline: none;
}

input {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0.8em !important;

  &:focus {
    border: 1px solid $secondary !important;
  }
}

.row {
  margin: 0;
}
