@import '~src/assets/scss/config';

.#{ $style-prefix }-product-list {
  padding: 3em 0;

  &__actions-col {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__add-btn {
    min-width: 180px;
    padding: 0.8em;
  }

  &__heading-form-area {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  &__item {
    padding: 1em;
    background-color: #fff;
    margin-bottom: 0.8em;
    border-radius: 8px;
  }

  &__list-header {
    padding: 1em;

    span {
      @include font(semibold);
    }
  }
}
