<div class="gori-product-list">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="gori-product-list__heading">
        <div class="gori-product-list__heading-form-area">
          <input
            type="text"
            class="form-control"
            placeholder="Search product"
            autofocus
          >
          <button class="btn gori-btn gori-btn--primary gori-product-list__add-btn">
            <i class="fa fa-plus"></i> Add product
          </button>
        </div>
        <div class="row gori-product-list__list-header">
          <div class="col-lg-3">
            <span>Product Name</span>
          </div>
          <div class="col-lg-3">
            <span>Brand</span>
          </div>
          <div class="col-lg-2">
            <span>Price</span>
          </div>
          <div class="col-lg-2">
            <span>Quantity</span>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
      </div>

      <div class="gori-product-list__list">
        <ng-container *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          <div class="row gori-product-list__item">
            <div class="col-lg-3">
              <span>
                Product Name 1
              </span>
            </div>
            <div class="col-lg-3">
              <span>Brand Name 1</span>
            </div>
            <div class="col-lg-2">
              <span>₱200.00</span>
            </div>
            <div class="col-lg-2">
              <span>20 pcs.</span>
            </div>
            <div class="col-lg-2 gori-product-list__actions-col">
              <button class="btn gori-btn gori-btn--primary">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn gori-btn gori-btn--accent">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
 
</div>