@import '~src/assets/scss/config';

.#{ $style-prefix }-app {

  &__navbar {
    padding: 1em;
    background-color: $primary;

    @include respond-above(lg) {
      padding: 1em 2.5em;
    }

    a {
      padding: 0;
      margin: 0;
      color: $secondary;
      @include font(bold);
    }
  }
}
